body {
	background-image: url('yourimage.png');
	
	
}



#Header {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	background-color: #8E41D5;
}
#Header h1 {
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
	
	
}
#LeftNav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	float: left;
	text-align: center;
	list-style-type: none;
	padding-bottom: 8px;
	background-color: #8E41D5;
}
#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	padding: 15px;
	background-color: #8E41D5;
}
#Footer{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	background-color: #8E41D5;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	
}

p {
	font-weight: bold;
	
}

h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
	
}