body {
	background-image: url('yourimage.png');
	
	
}



#Header {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	background-color: #8E41D5;
	border-radius: 25px;
	transform: rotate(-3deg);
	background-image: radial-gradient(circle, yellow, #8E41D5, purple);

}
#Header h1 {
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
	text-shadow: 2px 2px 5px blue;
	border-radius: 25px;
	
	
}
#LeftNav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	float: left;
	text-align: center;
	list-style-type: none;
	padding-bottom: 8px;
	background-color: #8E41D5;
	text-shadow: 2px 2px 5px blue;
	border-radius: 25px;
	transform: rotate(-3deg);
	opacity: 0.4;

}
#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	padding: 15px;
	background-color: #8E41D5;
	text-shadow: 2px 2px 5px blue;
	border-radius: 25px;
	transform: rotate(-3deg);

}
#Footer{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	background-color: #8E41D5;
	text-shadow: 2px 2px 5px blue;
	border-radius: 25px;
	transform: rotate(-3deg);
	background-image: linear-gradient(blue,#8E41D5,purple);
}

ul {
	list-style-type: none;
	padding-left: 0px;
	
}

p {
	font-weight: bold;
	color: white;
	font-family: "Arial";
	outline-style: dashed;
	word-wrap:break-word;
	outline-offset: 10px;
}

h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

	
